Source: batch-renamer-cli
Maintainer: Girish Oemrawsingh <skrillex2408@gmail.com>
Section: python
Priority: optional
Build-Depends: dh-python, python-setuptools (>= 0.6b3), python-all (>= 2.6.6-3), debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/darko3/batch-renamer

Package: python-batch-renamer-cli
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Batch rename files in a folder quickly.

